<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid grey;
        }
    </style>
</head>
<body>
    <h4>Server side Rendering...</h4>
    <h2>Url Shortner...</h2>
    <% if (locals.urls) { %>
        <% urls?.forEach(url => { %>
            <ol>
                <li><%= url.shortId %></li>
            </ol>
        <% }) %>
    <% } %>
    <form method="POST" action="/url">
        <label>Please enter Email: </label>
        <input type="text" placeholder="www.example.com" name="url"/>
        <button type="submit">Generate</button>
    </form>
    <% if (locals.id) { %>
        <p>Short url generated -  http://localhost:8001/url/<%= id %></p>
    <% } %>
    <h2>Table of analytics</h2>
    <% if (locals.analytics) { %>
        <table>
            <thead>
                <tr>
                    <th>ShortID</th>
                    <th>Redirect Url</th>
                    <th>Number of Clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= analytics.shortId %></td>
                    <td><%= analytics.redirectUrl %></td>
                    <td><%= analytics.visitHistory.length %></td>
                </tr>
            </tbody>
        </table>
    <% } %>
    <% if (locals.message) { %>
        <h3><%= message %></h3>
    <% } %>
    <% if (locals.foundUrl) { %>
        <!-- <h4>Found Url: <b style="color: teal"><%= foundUrl %></b></h4> -->
        <h4>Found Url: <a href="<%= foundUrl %>" target="_blank" style="color: teal"><%= foundUrl %></a></h4>
    <% } %>
</body>
</html>